.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #C8A2E8, #D8BFD8);
  font-family: 'Segoe UI', sans-serif;
}

.login-box {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(200, 162, 232, 0.25);
}

input, select {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #EBDCF5;
  border-radius: 10px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #C8A2E8;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-box button:hover {
  background: #B57EDC;
}
.error-box {
  background: #f8d7da;
  color: #842029;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 14px;
  border: 1px solid #f5c2c7;
}

.success-box {
  background: #d1fae5;
  color: #065f46;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 14px;
  border: 1px solid #a7f3d0;
}
